.main_header{
    background-color: #E6E2EB !important;
    height: 100px !important;
}
.pointer{
    cursor: pointer !important;
}
.chart_row{
    background-color: #E6E2EB !important;
    height: 700px !important;
}

.top_nav{
    margin-top: 10px !important;
}

.left_margin{
    margin-left: 10px !important;
}
